@import '../../style/variables.scss';

.dashboard {
  z-index: 0;
  margin-top: 40px;

  .no-diagnostics {
    text-align: center;
    font-size: 2em;
    font-family: "Ubuntu", sans-serif;
    margin-top: 204px;
    color: #999999;
  }

  .columns {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-width: 700px;
    -moz-column-width: 700px;
    -webkit-column-width: 700px;
    column-gap: 3em;
    -moz-column-gap: 3em;
    -webkit-column-gap: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
