/* scss variables */

/* font sizes */
$fontsize-mobile-1: 1.6rem;
$fontsize-desktop-1: 1.0rem;
$fontsize-h1-mobile: 2.2rem;
$fontsize-h1-desktop: 1.5rem;

/* colors */
$color-blue: #3395de;
$color-black: #000;
$color-lightblack: #1b1d24;
